<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../WEB-INF/static/bootstrap.min.css">
    <link rel="stylesheet" href="../css/advantages.css">
    <title>Преимущества</title>
</head>
<body>
<!--navbar-->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="main.html"><img src="../assets/main/logo.png" class="logo"></a>
            </div>
            <div class="offset-md-1 col-md-2 links">
                <a class="nav-link" href="advantages.html">Преимущества</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link" href="stages.html">Этапы</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link" href="services.html">Услуги</a>
            </div>
            <div class="col-md-2 links">
                <a class="nav-link" href="profile.html">Профиль</a>
            </div>
            <div class="col-md-3" style="padding-top: 25px">
                <div class="row">
                    <h4 class="nav-link ml-auto phone">
                        +7 (918) 666-33-33 </h4>
                </div>
                <div class="row">
                    <a class="nav-link ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--body-->
<div class="container">
    <div class="div_back_left">
        <img src="../assets/smoke_2.png">
    </div>
    <div class="div_back_right">
        <img src="../assets/smoke.png">
    </div>
    <div class="container div_front">
        <div class="adv-cont_title">
            Преимущества
        </div>

        <div class="row cards">
            <div class="col md-4">
                <div class="card-gradient">
                    <div class="card-body center ">
                        <p><h4 class="card-cont_title">Консультации онлайн</h4></p>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-cont_text">Если вам неудобно<br>приезжать в мой кабинет,<br>мы
                                    можем<br>встречаться онлайн.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col md-4">
                <div class="card-gradient">
                    <div class="card-body center ">
                        <p><h4 class="card-cont_title">Безупречная репутация</h4></p>
                        <div class="row ">
                            <div class="col">
                                <h5 class=" card-cont_text">За время моей работы <br> тысячи
                                    людей получили <br>
                                    избавление от проблем, <br> горя и страдания.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col md-4">
                <div class="card-gradient">
                    <div class="card-body center ">
                        <p><h4 class="card-cont_title">Цены ниже рыночных</h4></p>
                        <div class="row">
                            <div class="col">
                                <h5 class=" card-cont_text">Всегда стараюсь<br> предоставить
                                    своим <br> клиентам
                                    самые <br> выгодные условия.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<footer>
    <div class="container">
        <div class="row" style="padding-top: 700px">
            <div class="offset-1 col-md-3">
                <a href="main.html"><img src="../assets/main/logo.png"></a>
            </div>
            <div class="offset-1 col-md-2">
                <div class="row"><a class="nav-link" href="advantages.html">Преимущества</a></div>
                <div class="row"><a class="nav-link" href="stages.html">Этапы</a></div>
                <div class="row"><a class="nav-link" href="services.html">Услуги</a></div>
                <div class="row"><a class="nav-link" href="profile.html">Профиль</a></div>
            </div>
            <div class="offset-2 col-md-3">
                <div class="row">
                    <h4 class="nav-link ml-auto phone">
                        +7 (918) 666-33-33 </h4>
                </div>
                <div class="row">
                    <a class="nav-link ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>