<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../WEB-INF/static/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/alert.css">
    <title>Предупреждение</title>
</head>
<body>

<!--navbar-->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="main.html"><img src="../assets/main/logo.png" class="logo"></a>
            </div>
            <div class="offset-md-1 col-md-2 links">
                <a class="nav-link" href="advantages.html">Преимущества</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link" href="stages.html">Этапы</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link" href="services.html">Услуги</a>
            </div>
            <div class="col-md-2 links">
                <a class="nav-link" href="profile.html">Профиль</a>
            </div>
            <div class="col-md-3 phone_top">
                <div class="row">
                    <a href="tel:+79186663333" class="ml-auto phone"> +7 (918) 666-33-33</a>
                </div>
                <div class="row">
                    <a class="nav-link  ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row cards">
        <div class="card border-white offset-2 col-md-8" style="border-radius: 20px">
            <div class="card-body center ">
                <div class="alert-cont_text">
                    Для того, чтобы воспользоваться услугой необходимо войти в личный кабинет!
                </div>
                <div class="row" style="padding-top: 50px">
                    <button onclick="window.location = 'auth.html'"
                            class=" offset-4 col-md-4 btn alert-btn_in" type="submit">Войти
                    </button>
                </div>
                <div class="row" style="padding-top: 50px; padding-bottom: 40px">
                    <button onclick="window.location = 'register.html'"
                            class=" offset-1 col-md-10 btn alert-btn_register" type="submit">Зарегистрироваться
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>