<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/chat.css">
    <title>Чат</title>
</head>
<body>

<!--navbar-->
<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="main.html"><img src="../assets/main/logo.png" class="logo"></a>
            </div>
            <div class="offset-md-1 col-md-2 links">
                <a class="nav-link js-scroll-trigger" href="advantages.html">Преимущества</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link js-scroll-trigger" href="stages.html">Этапы</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link js-scroll-trigger" href="services.html">Услуги</a>
            </div>
            <div class="col-md-2 links">
                <a class="nav-link js-scroll-trigger" href="profile.html">Профиль</a>
            </div>
            <div class="col-md-3" style="padding-top: 25px">
                <div class="row">
                    <h4 class="nav-link js-scroll-trigger ml-auto phone">
                        +7 (918) 666-33-33 </h4>
                </div>
                <div class="row">
                    <a class="nav-link js-scroll-trigger ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--chat-->
<div class="container">
    <div class="offset-3 col-md-6" style="padding-top: 30px; padding-bottom: 30px">
        <div class="div_back_right">
            <img src="../assets/smoke.png">
        </div>
        <div class="div_back_left">
            <img src="../assets/smoke.png">
        </div>
        <div class="card chat-room div_front">
            <div class="card-body" style="background-color: #FFFFFF">
                <div class="chat-message">
                    <ul class="list-unstyled chat-1 scrollbar-light-blue">
                        <li class="d-flex justify-content-between mb-4">
                            <img src="../assets/crutch.png" alt="avatar"
                                 class="avatar rounded-circle ">
                            <div class="chat-body white">
                                <div class="header">
                                    <strong class="primary-font">Ведьма Костыль</strong>
                                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins
                                        ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between mb-4">
                            <div class="chat-body white">
                                <div class="header">
                                    <strong class="primary-font">Елизавета Иванова</strong>
                                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins
                                        ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque
                                    laudantium.
                                </p>
                            </div>
                            <img src="../assets/profile.png" alt="avatar"
                                 class="avatar rounded-circle ">
                        </li>
                        <li class="d-flex justify-content-between mb-4">
                            <img src="../assets/crutch.png" alt="avatar"
                                 class="avatar rounded-circle ">
                            <div class="chat-body white ">
                                <div class="header">
                                    <strong class="primary-font">Ведьма Костыль</strong>
                                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins
                                        ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between mb-4">
                            <div class="chat-body">
                                <div class="header">
                                    <strong class="primary-font">Елизавета Иванова</strong>
                                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins
                                        ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque
                                    laudantium.
                                </p>
                            </div>
                            <img src="../assets/profile.png">
                        </li>
                        <li class="d-flex justify-content-between mb-4 pb-3">
                            <img src="../assets/crutch.png" alt="avatar"
                                 class="avatar rounded-circle">
                            <div class="chat-body white ">
                                <div class="header">
                                    <strong class="primary-font">Ведьма Костыль</strong>
                                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins
                                        ago</small>
                                </div>
                                <hr class="w-100">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                    </ul>

                    <div class="white">
                        <div class="form-group basic-textarea">
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"
                                      placeholder="Напишите сообщение ведьме здесь..."></textarea>
                        </div>
                    </div>

                    <span class="btn float-left">
                         Прикрепить файл <input type="file">
                        </span>
                    <div>
                        <button type="button"
                                class="btn float-right">Отправить
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer>
    <div class="container">
        <div class="row" style="padding-top: 700px">
            <div class="offset-1 col-md-3">
                <a href="main.html"><img src="../assets/main/logo.png"></a>
            </div>
            <div class="offset-1 col-md-2">
                <div class="row"><a class="nav-link js-scroll-trigger" href="advantages.html">Преимущества</a></div>
                <div class="row"><a class="nav-link js-scroll-trigger" href="stages.html">Этапы</a></div>
                <div class="row"><a class="nav-link js-scroll-trigger" href="services.html">Услуги</a></div>
                <div class="row"><a class="nav-link js-scroll-trigger" href="profile.html">Профиль</a></div>
            </div>
            <div class="offset-2 col-md-3">
                <div class="row">
                    <h4 class="nav-link js-scroll-trigger ml-auto phone">
                        +7 (918) 666-33-33 </h4>
                </div>
                <div class="row">
                    <a class="nav-link js-scroll-trigger ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>