<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Заказать звонок</title>
</head>
<body>

<!--header-->
<header class="header">
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="main.html"><img src="../assets/main/logo.png" class="logo"></a>
                </div>
                <div class="offset-md-1 col-md-2 links">
                    <a class="nav-link" href="advantages.html">Преимущества</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link" href="stages.html">Этапы</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link" href="services.html">Услуги</a>
                </div>
                <div class="col-md-2 links">
                    <a class="nav-link " href="profile.html">Профиль</a>
                </div>
                <div class="col-md-3 phone_top">
                    <div class="row">
                        <a href="tel:+79186663333" class="ml-auto phone"> +7 (918) 666-33-33</a>
                    </div>
                    <div class="row">
                        <a class="nav-link  ml-auto" href="contact.html">Заказать
                            звонок</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!--content-->
<div class="container">
    <div class="div_back_left">
        <img src="../assets/smoke.png">
    </div>
    <div class="div_back_right">
        <img src="../assets/smoke_2.png">
    </div>
    <div class="container div_front">
        <div class="offset-2 col-md-8 contact-card">
            <div class="card" style="border-radius: 20px">
                <div class="card-body">
                    <div class="card-contact_title center">
                        Спасибо за желание <br> воспользоваться моими услугами! <br> Оставьте свой номер телефона <br>
                        для связи!
                    </div>
                    <form class="form-contact" style="padding-left: 120px; padding-right: 120px">
                        <div style="padding-top: 50px">
                            <input type="tel" id="inputPhone" class="form-control cont_input">
                        </div>

                        <div class="offset-3 cont_btn">
                            <button class="btn">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer for unauth users-->
<footer>
    <div class="container" style="padding-top: 600px">
        <div class="row">
            <div class="offset-1 col-md-3">
                <a href="main.html"><img src="../assets/main/logo.png"></a>
            </div>
            <div class="offset-1 col-md-2">
                <div class="row"><a class="nav-link " href="advantages.html">Преимущества</a></div>
                <div class="row"><a class="nav-link " href="stages.html">Этапы</a></div>
                <div class="row"><a class="nav-link " href="services.html">Услуги</a></div>
                <div class="row"><a class="nav-link " href="auth.html">Вход</a></div>
                <div class="row"><a class="nav-link " href="register.html">Регистрация</a></div>
            </div>
            <div class="offset-2 col-md-3">
                <div class="row">
                    <a href="tel:+79186663333" class="ml-auto phone"> +7 (918) 666-33-33</a>
                </div>
                <div class="row">
                    <a class="nav-link  ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>