<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Заказать звонок</title>
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="../assets/main/logo.png" class="logo">
                </div>
                <div class="offset-md-1 col-md-2 links">
                    <a class="nav-link js-scroll-trigger" href="#advantages">Преимущества</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link js-scroll-trigger" href="#stages">Этапы</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link js-scroll-trigger" href="#services">Услуги</a>
                </div>
                <div class="col-md-2 links">
                    <a class="nav-link js-scroll-trigger" href="#authorization">Вход/Регистрация</a>
                </div>
                <div class="col-md-3" style="padding-top: 25px">
                    <div class="row">
                        <h4 class="nav-link js-scroll-trigger ml-auto phone">
                            +7 (918) 666-33-33 </h4>
                    </div>
                    <div class="row">
                        <a class="nav-link js-scroll-trigger ml-auto" href="contact.html">Заказать
                            звонок</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="offset-2 col-md-8 contact-card">
        <div class="card" style="border-radius: 20px">
            <div class="card-body">
                <div class="card-contact_title">
                    Спасибо за желание<br>воспользоваться моими услугами!<br> Оставьте свой номер телефона<br>для связи!
                </div>
                <form class="form-contact" style="padding-left: 120px; padding-right: 120px">
                    <div style="padding-top: 50px">
                        <input type="tel" id="inputPhone" class="form-control cont_input">
                    </div>
                </form>
                <div class="offset-4" style="padding-top: 30px">
                    <button class="btn">
                        Отправить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>