<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<!--header-->
<header class="header">
    <!--navbar for auth users-->
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="../assets/main/logo.png" class="logo">
                </div>
                <div class="col-md-2 links">
                    <a class="nav-link " href="advantages.html">Преимущества</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link " href="stages.html">Этапы</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link " href="services.html">Услуги</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link " href="profile.html">Профиль</a>
                </div>
                <div class="col-md-1 links">
                    <a class="nav-link " href="basket.html">Корзина</a>
                </div>
                <div class="offset-1 col-md-3 phone_top">
                    <div class="row">
                        <a href="tel:+79186663333" class="ml-auto phone"> +7 (918) 666-33-33</a>
                    </div>
                    <div class="row">
                        <a class="nav-link  ml-auto" href="contact.html">Заказать
                            звонок</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--navbar for unauth users-->
    <!--    <nav>-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-md-2">-->
    <!--                    <img src="../assets/main/logo.png" class="logo">-->
    <!--                </div>-->
    <!--                <div class="offset-1 col-md-2 links">-->
    <!--                    <a class="nav-link " href="advantages.html">Преимущества</a>-->
    <!--                </div>-->
    <!--                <div class="col-md-1 links">-->
    <!--                    <a class="nav-link " href="stages.html">Этапы</a>-->
    <!--                </div>-->
    <!--                <div class="col-md-1 links">-->
    <!--                    <a class="nav-link " href="services.html">Услуги</a>-->
    <!--                </div>-->

    <!--                <div class="dropdown show col-md-2 center links">-->
    <!--                    <a class="nav-link dropdown-toggle " href="" role="button" data-toggle="dropdown"-->
    <!--                       id="dropdownMenuLink"-->
    <!--                       aria-haspopup="true" aria-expanded="false">-->
    <!--                        Войти-->
    <!--                    </a>-->
    <!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
    <!--                        <a class="dropdown-item nav-link" href="auth.html">Вход</a>-->
    <!--                        <a class="dropdown-item nav-link" href="register.html">Регистрация</a>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-3 phone_top">-->
    <!--                    <div class="row">-->
    <!--                        <a href="tel:+79186663333" class="ml-auto phone"> +7 (918) 666-33-33</a>-->
    <!--                    </div>-->
    <!--                    <div class="row">-->
    <!--                        <a class="nav-link  ml-auto" href="contact.html">Заказать-->
    <!--                            звонок</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </nav>-->
</header>

<!--content-->
<section class="page-section ">
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="offer-cont">
                        <h1 class="offer-cont_title">
                            <span> Всё обязательно будет хорошо </span>
                            Я здесь, чтобы помочь Вам
                        </h1>
                        <p class="offer-cont_text">
                            Моя магия безгранична
                        </p>
                        <button class="offer-cont_btn btn" onclick="window.location = 'services.html'">
                            Подобрать услугу
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../assets/main/header.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!--advantages-->
<section class="page-section " id="advantages">
    <div class="container">
        <div class="adv-cont_title center">
            <h2>Почему я?</h2>
        </div>
        <div class="row cards">
            <div class="col md-4">
                <div class="card-gradient">
                    <div class="card-body center ">
                        <p><h4 class="card-cont_title">Консультации онлайн</h4></p>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-cont_text"><span> Если вам неудобно </span> приезжать в мой кабинет,
                                    мы
                                    можем встречаться онлайн.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col md-4">
                <div class="card-gradient">
                    <div class="card-body center">
                        <p><h4 class="card-cont_title">Безупречная репутация</h4></p>
                        <div class="row ">
                            <div class="col">
                                <h5 class="card-cont_text">За время моей работы тысячи
                                    людей получили
                                    избавление от проблем, <span> горя и страдания.</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col md-4">
                <div class="card-gradient">
                    <div class="card-body center">
                        <p><h4 class="card-cont_title ">Цены ниже рыночных</h4></p>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-cont_text ">Всегда стараюсь предоставить
                                    <span>своим клиентам
                                    самые</span> выгодные условия.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--stages-->
<section class="page-section" id="stages">
    <div class="container">
        <div class="stages-cont_title center">
            <h2>Этапы</h2>
        </div>
        <div class="row stages-cont_img">
            <div class="offset-1 col-md-2">
                <div class="row justify-content-center"><img src="../assets/main/1.png"></div>
                <div class="row stages-cont_text center"><h6>1. Ваше обращение <span> ко мне </span></h6></div>
            </div>
            <div class="offset-2 col-md-2">
                <div class="row justify-content-center"><img src="../assets/main/3.png"></div>
                <div class="row stages-cont_text center"><h6>3. Заключение договора
                    <span> с последующей оплатой</span>
                    после
                    услуги
                </h6>
                </div>
            </div>
            <div class="offset-2 col-md-2 text-center">
                <div class="row  justify-content-center"><img src="../assets/main/5.png"></div>
                <div class="row stages-cont_text center"><h6> 5. Оплата любым удобным <span>для вас способом</span>
                </h6>
                </div>
            </div>
        </div>


        <div class="row stages-cont_img">
            <div class="offset-3 col-md-2">
                <div class="row justify-content-center"><img src="../assets/main/2.png"></div>
                <div class="row stages-cont_text center"><h6>2. Выезд по указанному адресу или приезд <span>ко мне в
                    офис</span></h6>
                </div>
            </div>
            <div class="offset-2 col-md-2">
                <div class="row justify-content-center"><img src="../assets/main/4.png"></div>
                <div class="row stages-cont_text center"><h6><span> 4. Организация и контроль</span> всего процесса
                </h6>
                </div>
            </div>
        </div>
    </div>
</section>

<!--services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="serv-cont_title center">
            <h2>Чем я могу Вам помочь ?</h2>
        </div>
        <div class="row cards">
            <div class="offset-1 col-md-2 center">
                <img src="../assets/main/spoilage.png">
                <a href="services.html">
                    <div class="text-services">Порча</div>
                </a>
            </div>

            <div class="offset-2 col-md-2 center">
                <img src="../assets/main/protection.png">
                <a href="services.html">
                    <div class="text-services">Защита</h3>
                    </div>
                </a>
            </div>

            <div class="offset-2 col-md-2 center">
                <img src="../assets/main/evileye.png">
                <a href="services.html">
                    <div class="text-services">Сглаз</div>
                </a>
            </div>
        </div>
        <div class="row cards">
            <div class="offset-1 col-md-2 center">
                <img src="../assets/main/lovemagic.png">
                <a href="services.html">
                    <div class="text-services">Любовная<br>магия</div>
                </a>
            </div>

            <div class="offset-2 col-md-2 center">
                <img src="../assets/main/divination.png">
                <a href="services.html">
                    <div class="text-services">Гадание</div>
                </a>
            </div>

            <div class="offset-2 col-md-2 center">
                <img src="../assets/main/troubleshooting.png">
                <a href="services.html">
                    <div class="text-services">Устранение<br>проблем</div>
                </a>
            </div>
        </div>

    </div>
    <div class="row cards">
        <div class="offset-3 col-md-6 center">
            <button class="btn" onclick="window.location = 'services.html'">Перейти к полному списку услуг
            </button>
        </div>
    </div>
</section>


<!--authorization-->
<section class="page-section" id="authorization">
    <div class="container">
        <div class="row auth-cont_title center">
            <div class="offset-1 col-md-4">
                <a href="auth.html"><h2>Авторизация</h2></a>
            </div>
            <div class="offset-2 col-md-3">
                <a href="register.html"><h2>Регистрация</h2></a>
            </div>
        </div>

        <form class="form-signin">
            <div class="row cards">
                <div class="card border-white offset-3 col-md-6" style="border-radius: 20px">
                    <div class="card-body center">
                        <div style="padding-top: 80px">
                            <input type="email" id="inputEmail" class="form-control auth-cont_input"
                                   placeholder="Почта"
                                   required>
                        </div>

                        <div style="padding-top: 20px">
                            <input type="password" id="inputPassword" class="form-control auth-cont_input"
                                   placeholder="Пароль"
                                   required>
                        </div>
                        <div style="padding-top:40px; padding-bottom: 40px">
                            <div class="checkbox mb-3">
                                <label style="color: black; font-family: 'Proxima Nova Rg', sans-serif">
                                    <input type="checkbox" value="remember-me"> запомнить меня
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 50px">
                <button class="offset-4 col-md-4 btn center" type="submit">Войти</button>
            </div>
        </form>

    </div>
</section>


<!--footer for auth users-->
<!--<footer>
    <div class="container" style="padding-top: 100px">
        <div class="row" >
            <div class="offset-1 col-md-3">
                <img src="../assets/main/logo.png">
            </div>
            <div class="offset-1 col-md-2">
                <div class="row"><a class="nav-link " href="advantages.html">Преимущества</a></div>
                <div class="row"><a class="nav-link " href="stages.html">Этапы</a></div>
                <div class="row"><a class="nav-link " href="services.html">Услуги</a></div>
                <div class="row"><a class="nav-link " href="profile.html">Профиль</a></div>
                <div class="row"><a class="nav-link " href="basket.html">Корзина</a></div>
            </div>
            <div class="offset-2 col-md-3">
                <div class="row">
                    <a href="tel:+79186663333" class="ml-auto phone"> +7 (918) 666-33-33</a>
                </div>
                <div class="row">
                    <a class="nav-link  ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer> -->

<!--footer for unauth users-->
<footer>
    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="offset-1 col-md-3">
                <img src="../assets/main/logo.png">
            </div>
            <div class="offset-1 col-md-2">
                <div class="row"><a class="nav-link " href="advantages.html">Преимущества</a></div>
                <div class="row"><a class="nav-link " href="stages.html">Этапы</a></div>
                <div class="row"><a class="nav-link " href="services.html">Услуги</a></div>
                <div class="row"><a class="nav-link " href="auth.html">Вход</a></div>
                <div class="row"><a class="nav-link " href="register.html">Регистрация</a></div>
            </div>
            <div class="offset-2 col-md-3">
                <div class="row">
                    <a href="tel:+79186663333" class="ml-auto phone"> +7 (918) 666-33-33</a>
                </div>
                <div class="row">
                    <a class="nav-link  ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../static/jquery-3.5.1.min.js"></script>
<script src="../static/bootstrap.bundle.js"></script>
</body>
</html>