<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/services.css">
    <title>Мои услуги</title>
</head>
<body>
<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="advantages.html"><img src="../assets/main/logo.png" class="logo"></a>
            </div>
            <div class="offset-md-1 col-md-2 links">
                <a class="nav-link js-scroll-trigger" href="advantages.html">Преимущества</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link js-scroll-trigger" href="stages.html">Этапы</a>
            </div>
            <div class="col-md-1 links">
                <a class="nav-link js-scroll-trigger" href="services.html">Услуги</a>
            </div>
            <div class="col-md-2 links">
                <a class="nav-link js-scroll-trigger" href="profile.html">Профиль</a>
            </div>
            <div class="col-md-3" style="padding-top: 25px">
                <div class="row">
                    <h4 class="nav-link js-scroll-trigger ml-auto phone">
                        +7 (918) 666-33-33 </h4>
                </div>
                <div class="row">
                    <a class="nav-link js-scroll-trigger ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="div_back_right">
        <img src="../assets/smoke.png">
    </div>

    <div class="container div_front">
        <div class="serv-cont_title">
            Мои услуги
        </div>

        <div class="search_block">
            <div class="container">
                <div class="offset-2 col-md-8">
                    <div class="row">
                        <input type="search" id="inputSearch" class="form-control search_block_input"
                               required
                               >
                    </div>
                    <div class="row filter">
                        <div class="col-md-3">
                            <button class="btn" type="submit">Популярные</button>
                        </div>
                        <div class="offset-2 col-md-2">
                            <button class="btn" type="submit">Цена</button>
                        </div>
                        <div class="offset-1 col-md-3">
                            <button class="btn" type="submit">Новинки</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div_back_left">
            <img src="../assets/smoke_2.png">
        </div>

        <div class="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/1.png">
                                </div>
                                <div class="services_title">
                                    Избавление <br> от “венца безбрачия”
                                </div>
                                <div class="services_price">
                                    2 690P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/2.png">
                                </div>
                                <div class="services_title">
                                    Обряд на удачу <br> и успех
                                </div>
                                <div class="services_price">
                                    1 690P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/3.png">
                                </div>
                                <div class="services_title">
                                    Когда свадьба <br> и будут ли дети
                                </div>
                                <div class="services_price">
                                    1 290P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_back_right">
                    <img src="../assets/smoke.png">
                </div>

                <div class="row" style="padding-top: 30px">
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/4.png">
                                </div>
                                <div class="services_title">
                                    Снятие <br> негатива
                                </div>
                                <div class="services_price">
                                    1 690P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/5.png">
                                </div>
                                <div class="services_title">
                                    Создание <br> любви
                                </div>
                                <div class="services_price">
                                    1 690P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/6.png">
                                </div>
                                <div class="services_title">
                                    Определение <br> судьбы
                                </div>
                                <div class="services_price">
                                    9 990P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_back_left">
                    <img src="../assets/smoke_2.png">
                </div>


                <div class="row" style="padding-top: 30px">
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/7.png">
                                </div>
                                <div class="services_title">
                                    Проверка <br> на измены
                                </div>
                                <div class="services_price">
                                    1 690P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/8.png">
                                </div>
                                <div class="services_title">
                                    Снятие <br> порчи и сглаза
                                </div>
                                <div class="services_price">
                                    1 690P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card services_card">
                            <div class="card-body" style="text-align: center">
                                <div class="services_img">
                                    <img src="../assets/services/9.png">
                                </div>
                                <div class="services_title">
                                    Решение проблем<br> с долгами
                                </div>
                                <div class="services_price">
                                    9 990P
                                </div>
                                <div class="btn_pad">
                                    <button class="btn services_btn" onclick="window.location='alert.html'">
                                        Воспользоваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer>
    <div class="container">
        <div class="row" style="padding-top: 1900px">
            <div class="offset-1 col-md-3">
                <a href="main.html"><img src="../assets/main/logo.png"></a>
            </div>
            <div class="offset-1 col-md-2">
                <div class="row"><a class="nav-link js-scroll-trigger" href="advantages.html">Преимущества</a></div>
                <div class="row"><a class="nav-link js-scroll-trigger" href="stages.html">Этапы</a></div>
                <div class="row"><a class="nav-link js-scroll-trigger" href="services.html">Услуги</a></div>
                <div class="row"><a class="nav-link js-scroll-trigger" href="register.html">Регистрация</a></div>
            </div>
            <div class="offset-2 col-md-3">
                <div class="row">
                    <h4 class="nav-link js-scroll-trigger ml-auto phone">
                        +7 (918) 666-33-33 </h4>
                </div>
                <div class="row">
                    <a class="nav-link js-scroll-trigger ml-auto" href="contact.html">Заказать
                        звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>